//////////////////////////
//HEADING

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;

  &__title {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1rem;
    line-height: 1;
  }

  &__switch {
    background-image: url("../images/icon-sun.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
  }
}

//////////////////////////
//INPUT

.input {
  position: relative;
  padding: 1.8rem 0 1.5rem 0;
  &__field {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.2rem;
    width: 100%;
    padding: 1rem 2rem 1rem 4.6rem;
    line-height: 1.5;

    outline: none;
    border: none;
    background-color: var(--very-dark-desaturated-blue);
    color: var(--light-grayish-blue);
    box-shadow: 0 0.5rem 1.5rem var(--very-dark-blue-shadow);
    border-radius: 5px;
  }

  &__circle {
    width: 1.7rem;
    height: 1.7rem;
    background-color: transparent;
    position: absolute;
    top: 2.9rem;
    left: 1.5rem;
    border-radius: 50%;
    border: 2px solid var(--very-dark-grayish-blue-1-trans);
  }

  &__button {
    position: absolute;
    left: 0;
  }
}

//////////////////////////
//LIST

.list {
  &__item {
    width: 100%;
    list-style: none;
    background-color: var(--very-dark-desaturated-blue);
    margin: 0;
    padding: 1rem 1.45rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--very-dark-grayish-blue-1-trans);

    // &:last-of-type {
    //   border-radius: 5px 5px 0 0;
    // }
  }

  &__label {
    width: 1.7rem;
    height: 1.7rem;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid var(--very-dark-grayish-blue-1-trans);
    margin-right: 1.5rem;
    cursor: pointer;
  }

  &__input {
    display: none;

    &:checked + label {
      // background-image: url(../images/icon-check.svg), var(--color-gradient);
      background-image: url(../images/check.jpg);
      background-size: cover;
      background-position: center;
    }
  }

  &__words {
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--light-grayish-blue);
  }

  &__close {
    background-image: url(../images/icon-cross.svg);
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1.2rem;
    height: 1.2rem;
    border: none;
  }
}

//////////////////////////
//ITEMS MENU

.items {
  &__menu {
    width: 100%;
    list-style: none;
    background-color: var(--very-dark-desaturated-blue);
    margin: 0;
    padding: 1rem 1.45rem;
    border-radius: 0 0 5px 5px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: var(--dark-grayish-blue);
    & > * {
      text-decoration: none;
      color: var(--dark-grayish-blue);
      font-size: 0.8rem;
    }
  }

  &__left {
  }

  &__filter {
    & > * {
      text-decoration: none;
      color: var(--dark-grayish-blue);

      &:not(:last-child) {
        margin-right: 0.5rem;
      }

      &:hover {
        color: var(--light-grayish-blue);
      }
    }
  }

  &__all {
  }

  &__active {
  }

  &__completed {
  }

  &__clear {
    &:hover {
      color: var(--light-grayish-blue);
    }
  }
}

.sortable-chosen {
  opacity: 1;
}

.sortable-drag {
  opacity: 0;
}

//////////////////////////
//UTILITIES

.border-curve {
  border-radius: 5px 5px 0 0;
}

.completed {
  opacity: 0.3;
  text-decoration: line-through var(--light-grayish-blue-trans) solid 2px;
}

.hidden {
  display: none;
}
