//////////////////////////
//HEADING

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  position: relative;

  &__title {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1rem;
    line-height: 1;

    @media only screen and (min-width: 91em) {
      font-size: 3vw;
    }

    @media only screen and (max-width: 29.19em) {
      font-size: 1.8rem;
    }
  }

  &__switch {
    position: absolute;
    width: 2.3rem;
    height: 2.3rem;
    cursor: pointer;
    z-index: 10;

    @media only screen and (min-width: 90em) {
      right: -0.5rem;
      top: 0.1rem;
      height: 2.5rem;
    }

    @media only screen and (max-width: 90em) {
      right: -0.5rem;
      top: 0rem;
    }

    @media only screen and (max-width: 36.5em) {
      width: 1.6rem;
      height: 1.6rem;
      right: 0rem;
      top: 0.1rem;
    }
  }

  &__icon {
    transform: scale(1.3);
    // position: absolute;
    // top: 1.3rem;
    // right: 0.3rem;
    z-index: 1;

    @media only screen and (max-width: 36.5em) {
      transform: scale(1);
    }
  }
}

#switch {
  opacity: 0;
  visibility: hidden;
}

//////////////////////////
//INPUT

.input {
  position: relative;
  padding: 1.8rem 0 1.5rem 0;

  @media only screen and (min-width: 91em) {
    padding: 2.5vw 0 1.7vw 0;
  }

  &__field {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.2rem;
    width: 100%;
    padding: 1rem 2rem 1rem 4.6rem;
    line-height: 1.7;

    outline: none;
    border: none;
    background-color: var(--color-card-bg);
    color: var(--color-input-text);
    box-shadow: 0 0.5rem 1.5rem var(--color-shadow);
    border-radius: 8px;

    @media only screen and (min-width: 91em) {
      font-size: 1vw;
      padding: 1vw 2vw 1vw 3.85vw;
    }

    @media only screen and (max-width: 36.56em) {
      font-size: 0.8rem;
      padding: 1rem 2rem 1rem 4rem;
    }

    @media only screen and (max-width: 29.19em) {
      padding: 0.9rem 0.9rem 0.9rem 3.5rem;
    }
  }

  &__circle {
    width: 1.7rem;
    height: 1.7rem;
    background-color: transparent;
    position: absolute;
    top: 2.9rem;
    left: 1.5rem;
    border-radius: 50%;
    border: 2px solid var(--color-line);

    @media only screen and (min-width: 91em) {
      top: 3.6vw;
      left: 1.4vw;
    }

    @media only screen and (max-width: 36.56em) {
      width: 1.4rem;
      height: 1.4rem;
      top: 2.65rem;
      left: 1.3rem;
    }

    @media only screen and (max-width: 29.19em) {
      top: 2.6rem;
      left: 1.2rem;
    }
  }

  &__button {
    position: absolute;
    left: 0;
  }
}

//////////////////////////
//LIST

.list {
  &__item {
    width: 100%;
    list-style: none;
    background-color: var(--color-card-bg);
    box-shadow: 0 0.7rem 1.3rem var(--color-shadow);
    margin: 0;
    padding: 1rem 1.45rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-line);

    &:focus,
    &:active,
    &:hover {
      cursor: pointer;
    }

    @media only screen and (min-width: 91em) {
      padding: 1vw 1.45vw;
    }

    @media only screen and (max-width: 29.19em) {
      padding: 1rem 1.25rem;
    }
  }

  &__label {
    width: 1.7rem;
    height: 1.7rem;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid var(--color-line);
    margin-right: 1.5rem;
    cursor: pointer;
    overflow: hidden;

    &:hover {
      border: 2px solid var(--color-border);
    }

    @media only screen and (max-width: 29.19em) {
      width: 1.4rem;
      height: 1.4rem;
      top: 2.65rem;
      margin-right: 0.9rem;
    }
  }

  &__input {
    display: none;

    &:checked + label {
      // background-image: url(../images/icon-check.svg), var(--color-gradient);
      background-image: url(../images/check.jpg);
      background-size: cover;
      background-position: center;
    }
  }

  &__words {
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color-input-text);

    @media only screen and (min-width: 91em) {
      font-size: 1vw;
    }

    @media only screen and (max-width: 36.56em) {
      font-size: 0.8rem;
    }
  }

  &__close {
    background-image: url(../images/icon-cross.svg);
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1.2rem;
    height: 1.2rem;
    border: none;
    cursor: pointer;
  }
}

//////////////////////////
//ITEMS MENU

.items {
  overflow-y: hidden;
  &__menu {
    width: 100%;
    list-style: none;
    background-color: var(--color-card-bg);
    box-shadow: 0 0.7rem 1.3rem var(--color-shadow);
    margin: 0;
    padding: 1rem 1.45rem;
    border-radius: 0 0 8px 8px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (min-width: 91em) {
      padding: 1vw 1.45vw;
    }

    color: var(--color-menu-text);
    & > * {
      text-decoration: none;
      color: var(--color-menu-text);
      font-size: 0.8rem;

      @media only screen and (min-width: 91em) {
        font-size: 0.8vw;
      }
    }

    &--2 {
      display: none;
      margin-top: 1.5rem;
      border-radius: 8px;

      @media only screen and (max-width: 36.56em) {
        display: flex;
        justify-content: center;
      }

      @media only screen and (max-width: 29.19em) {
        margin-top: 1.2rem;
      }
    }
  }

  &__left {
    @media only screen and (max-width: 36.56em) {
      font-size: 0.8rem;
    }

    @media only screen and (max-width: 29.19em) {
      font-size: 0.7rem;
    }
  }

  &__filter {
    & > * {
      text-decoration: none;
      color: var(--color-menu-text);

      &:not(:last-child) {
        margin-right: 0.5rem;
      }

      &:hover {
        color: var(--color-input-text);
      }

      &:focus {
        color: var(--color-primary);
      }
    }

    &--1 {
      @media only screen and (max-width: 36.56em) {
        display: none;
      }
    }

    &--2 {
      font-size: 1rem;

      & > * {
        &:not(:last-child) {
          margin-right: 1.2rem;
        }
      }

      @media only screen and (max-width: 29.19em) {
        font-size: 0.9rem;
      }

      @media only screen and (max-width: 20em) {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }

    // &--2 > * {
    //   &:not(:last-child) {
    //     margin-right: 1rem;
    //   }
    // }
  }

  &__clear {
    &:hover {
      color: var(--color-input-text);
    }

    @media only screen and (max-width: 36.56em) {
      font-size: 0.8rem;
    }

    @media only screen and (max-width: 29.19em) {
      font-size: 0.7rem;
    }
  }
}

//////////////////////////
//FOOTER NOTE
.note {
  position: absolute;
  bottom: 0;
  &__message {
    @media only screen and (min-width: 91em) {
      font-size: 0.8vw;
    }
  }
}

.sortable-chosen {
  opacity: 1;
}

.sortable-drag {
  opacity: 0;
}

//////////////////////////
//UTILITIES

.border-curve {
  border-radius: 8px 8px 0 0;
}

.border-curve-all {
  border-radius: 8px;
}

.completed {
  opacity: 0.3;
  text-decoration: line-through var(--color-menu-text) solid 2px;
}

.hidden {
  display: none;
}
