body {
  background-color: var(--color-bg);
  color: #fff;
  position: relative;
  height: 100%;
  overflow: scroll;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.3rem 0;
  width: 100%;
  min-height: 100%;
  // @media only screen and (max-width: 36.56em) {
  //   padding: 2.6rem 0;
  // }

  @media only screen and (max-width: 29.19em) {
    padding: 3.2rem 0;
  }

  @media only screen and (min-width: 91em) {
    padding: 6% 0;
  }
}

.app {
  width: 560px;
  margin-bottom: 3rem;
  @media only screen and (max-width: 36.56em) {
    width: 90%;
  }

  @media only screen and (min-width: 91em) {
    width: 38vw;
  }
}

.note {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 8rem;
  position: static;
  bottom: 0;

  &__message {
    color: var(--color-menu-text);
    font-size: 0.8rem;
  }
}
