:root {
  //primary
  --color-primary: hsl(220, 98%, 61%);
  --color-gradient: linear-gradient(
    to bottom right,
    rgb(87, 221, 255),
    rgb(192, 88, 243)
  );
}

@mixin image-change($theme, $device) {
  content: url(../images/bg-#{$device}-#{$theme}.jpg);
}

body {
  --color-border: rgb(87, 221, 255);
  --color-shadow: rgba(22, 23, 34, 0.637);
  --color-bg: rgb(24, 28, 39);
  --color-card-bg: rgb(37, 39, 60);
  --color-input-text: rgb(202, 205, 232);
  --color-line: rgb(57, 58, 76);
  --color-menu-text: rgb(119, 122, 146);

  & > .bg-image {
    width: 100%;
    min-height: 303px;
    @include image-change("dark", "desktop");

    @media only screen and (max-width: 36.56em) {
      @include image-change("dark", "mobile");
      min-height: 0;
    }

    @media only screen and (max-width: 29.19em) {
      min-height: 230px;
    }
  }
}

body[data-theme="light"] {
  --color-border: rgb(192, 88, 243);
  --color-shadow: rgba(22, 23, 34, 0.089);
  --color-bg: hsl(0, 0%, 98%);
  --color-card-bg: #fff;
  --color-input-text: rgb(72, 75, 106);
  --color-line: rgb(228, 229, 241);
  --color-menu-text: hsl(236, 9%, 61%);

  & > .bg-image {
    width: 100%;
    @include image-change("light", "desktop");

    @media only screen and (max-width: 36.56em) {
      @include image-change("light", "mobile");
      min-height: 0;
    }

    @media only screen and (max-width: 29.19em) {
      min-height: 230px;
    }
  }
}
